:root {
    --heading-color: #ffffff;
    --title-color: #212121;
    --title-secondary-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --white-text-color: #ffffff;
    --logo-color: #000000;


 
}
body {
    font-family: "Roboto", sans-serif;
    color: #212121;
    background-color: #ffffff;
}
.list {
    list-style: none;
}
.link {
text-decoration: none;
}
.link:hover,
.link:focus {
    color: var(--accent-color);
}
/*-----------Header--------------*/
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.header-link-accent {
    color: var(--accent-color);
}
.header-logo {
 font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--logo-color);
}
.header-logo-span {
    color: var(--accent-color);
}

.header-link-contakt {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
    color: var(--title-color);
}

/* цвет основного текста #212121 */

/* вторичный  цвет текста #757575 */

/* цвет background #E5E5E5 */

/* белый цвет #FFFFFF */

/* цвет акцента #2196F3 */